<p>login works!</p>
<h2>{{GetLoginPassword()}}</h2>



<!-- <button (click)="NewFunction('pushpraj')">click me</button>
<button (click)="NewFunction('sonu')">click me 2</button>
<input type="text" (blur)="SetData(inputData.value)" #inputData> -->

<br/>
<!-- 
<h1 (mouseover)="NewFunction1()">On hover alert</h1> -->
<!-- 
<input type="text" #username placeholder="Enter text" name="TextBoxName" Data="HelloWorld"/>
<button (click)="GetText(username.placeholder)">Get Text value</button>

<h3>{{displayValue}}</h3> -->

<button (click)="GetCounter()">Increase</button>
<br/>
<button (click)="GetCounter()">Decrease</button>
<br/>
<h3>{{counter}}</h3>